<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Services.Transaction" version="3.0.202.2202" targetFramework="net452" />
  <package id="Castle.WcfIntegrationFacility" version="3.3.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.2" targetFramework="net452" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MicrosoftWebMvc" version="2.0" targetFramework="net452" />
  <package id="Mvc2Futures" version="2.0.50217.0" targetFramework="net452" />
  <package id="NHibernate" version="4.0.2.4000" targetFramework="net452" />
  <package id="Rhino.Commons" version="1.0.4791.25785" targetFramework="net452" />
</packages>